<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>838186825922-cei7p7gi00nj5o87jodf3ebtbulgrogn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838186825922-cei7p7gi00nj5o87jodf3ebtbulgrogn</string>
	<key>API_KEY</key>
	<string>AIzaSyAmHsEYkKst-fQ0eaqz4SgZ1o65lilNeBE</string>
	<key>GCM_SENDER_ID</key>
	<string>838186825922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chondro.AppMessage</string>
	<key>PROJECT_ID</key>
	<string>app-message-33aec</string>
	<key>STORAGE_BUCKET</key>
	<string>app-message-33aec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838186825922:ios:c00c84bf7e82e05d7d235b</string>
	<key>DATABASE_URL</key>
	<string>https://app-message-33aec-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>